.grp1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer{
    padding: 30px;
    background-color: rgb(24, 31, 35);
    color: white;
    margin-top: 70px;
    width: 100%;
}
.footer .grp1 .once ul{
    display: flex;
    list-style-type: none;
    margin-top: 15px;
}
.footer .grp1 .once ul .li{
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    text-decoration: none;
}
.footer .grp1 .once ul .li:hover{
    color: #0cc0df;
}
.footer .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
 
}
.footer .copy{
    color: grey;
}
.footer .twoce input{
    padding: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin-top: 8px;
    width: 300px;

}
.footer .twoce button{
    padding: 8px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 4px;
    align-items: center;
    display: flex;
}
.footer .twoce button:hover{
    border: 1px solid #0cc0df;
    color: #0cc0df;
}
.ipt{
    display: flex;
    align-items: flex-end;
}



@media screen and (max-width: 1071px){
    .grp1{
        display: block;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .ipt{
        display: block;
    }
    .ipt button{
        margin-top: 10px;
    }
    .footer .twoce input{
        padding: 8px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        margin-top: 8px;
        width: 250px;
    }
    .footer .twoce{
    margin-top: 30px;
    }
    .footer .grp1 .once ul{
        display: block;
        list-style-type: none;
        margin-top: 15px;
    }
    .footer .info{
        display: block;
    }
    
}